<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/min/dropzone.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/dropzone.css">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<nav>
    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
        <a ng-class="{ active: isSet(1) }" href ng-click="setTab(1)" class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" role="tab" aria-controls="nav-profile" aria-selected="true">Create</a>
        <a ng-class="{ active: isSet(2) }" href ng-click="setTab(2); showUp()" class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" role="tab" aria-controls="nav-contact" aria-selected="false">Update</a>
        <!-- <a ng-class="{ active: isSet(3) }" href ng-click="setTab(3)" class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" role="tab" aria-controls="nav-contact" aria-selected="false">Read</a> -->
        <!-- <a ng-class="{ active: isSet(4) }" href ng-click="setTab(4)" class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" role="tab" aria-controls="nav-contact" aria-selected="false">Delete</a> -->
    </div>
</nav>
<div class="jumbotron">
    <div ng-show="isSet(1)">
      <div class="container">
          <div class="row">
            <div class="col-xs-12 ">
              <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                  <form autocomplete="on" method="post" name="create_car" id="create_car">
                    <div>
                        <h5>Tipo de coche</h5>
                        Deportivo <input required="true" name="radiotipo" id="radiotipo" type="radio" ng-model="create.radiotipo" value="deportivo">
                        Turismo <input name="radiotipo" id="radiotipo" type="radio" ng-model="create.radiotipo" value="turismo">
                        Todoterreno <input name="radiotipo" id="radiotipo" type="radio" ng-model="create.radiotipo" value="todoterreno">
                        <span class="text-danger" ng-show="create_car.radiotipo.$error.required">Seleccione un campo</span>
                    </div>
                    <br/>
                    <div class="matricula">
                        <h5>Matricula</h5>
                        <input required type="text" id="matricula" name="matricula" ng-model="create.matricula" placeholder="Matricula" ng-minlength="3" ng-maxlength="20"/>
                        <span class="text-danger" ng-show="create_car.matricula.$error.required && (create_car.matricula.$dirty || create_car.matricula.$touched)">Introduzca la matricula</span>
                        <span class="text-danger" ng-show="create_car.matricula.$error.minlength">Introduzca mas de 3 caracteres</span>
                        <span class="text-danger" ng-show="create_car.matricula.$error.maxlength">Introduzca menos de 20 caracteres</span>
                    </div>
                    <br/>

                    <div class="marca">
                        <h5>Marca</h5>
                        <input required type="text" id="marca" name="marca" ng-model="create.marca" placeholder="Marca" ng-minlength="3" ng-maxlength="20"/>
                        <span class="text-danger" ng-show="create_car.marca.$error.required && (create_car.marca.$dirty || create_car.marca.$touched)">Introduzca la marca</span>
                        <span class="text-danger" ng-show="create_car.marca.$error.minlength">Introduzca mas de 3 caracteres</span>
                        <span class="text-danger" ng-show="create_car.marca.$error.maxlength">Introduzca menos de 20 caracteres</span>
                    </div>
                    <br/>

                    <div class="modelo">
                        <h5>Modelo</h5>
                        <input required type="text" id="modelo" name="modelo" ng-model="create.modelo" placeholder="Modelo" ng-minlength="3" ng-maxlength="20"/>
                        <span class="text-danger" ng-show="create_car.modelo.$error.required && (create_car.modelo.$dirty || create_car.modelo.$touched)">Introduzca el modelo</span>
                        <span class="text-danger" ng-show="create_car.modelo.$error.minlength">Introduzca mas de 3 caracteres</span>
                        <span class="text-danger" ng-show="create_car.modelo.$error.maxlength">Introduzca menos de 20 caracteres</span>
                    </div>
                    <br/>

                    <div class="fabricante">
                        <h5>Fabricante</h5>
                        <input required type="text" id="fabricante" name="fabricante" ng-model="create.fabricante" placeholder="Fabricante" ng-minlength="3" ng-maxlength="20"/>
                        <span class="text-danger" ng-show="create_car.fabricante.$error.required && (create_car.fabricante.$dirty || create_car.fabricante.$touched)">Introduzca un fabricante</span>
                        <span class="text-danger" ng-show="create_car.fabricante.$error.minlength">Introduzca mas de 3 caracteres</span>
                        <span class="text-danger" ng-show="create_car.fabricante.$error.maxlength">Introduzca menos de 20 caracteres</span>
                    </div>
                    <br/>

                    <div class="color">
                        <h5>Color</h5>
                        <input required type="text" id="color" name="color" ng-model="create.color" placeholder="Color" ng-minlength="3" ng-maxlength="20"/>
                        <span class="text-danger" ng-show="create_car.color.$error.required && (create_car.color.$dirty || create_car.color.$touched)">Introduzca un color</span>
                        <span class="text-danger" ng-show="create_car.color.$error.minlength">Introduzca mas de 3 caracteres</span>
                        <span class="text-danger" ng-show="create_car.color.$error.maxlength">Introduzca menos de 20 caracteres</span>
                    </div>
                    <br/>

                    <div class="caballos">
                        <h5>Caballos</h5>
                        <input required type="text" id="caballos" name="caballos" ng-model="create.caballos" placeholder="Caballos" ng-minlength="3" ng-maxlength="20"/>
                        <span class="text-danger" ng-show="create_car.caballos.$error.required && (create_car.caballos.$dirty || create_car.caballos.$touched)">Introduzca un caballos</span>
                        <span class="text-danger" ng-show="create_car.caballos.$error.minlength">Introduzca mas de 3 caracteres</span>
                        <span class="text-danger" ng-show="create_car.caballos.$error.maxlength">Introduzca menos de 20 caracteres</span>
                    </div>
                    <br/>
      
                    <br/>
                    <tr>
                    <td>Country: </td>
                      <td>
                        <select name="pais" class="form-control" ng-model="coche.pais" ng-options="item.sName for item in paises" 
                        placeholder="Pais" id="pais" ng-change="resetPais()">
                          <option value="">Seleccione un pais</option>
                        </select>
                        <span class="text-danger" ng-show="AlertMessage" ng-model="coche.pais_error">{{coche.pais_error}}</span>
                      </td>
                    </tr>
        
                    <tr>
                    <td>Province: </td>
                      <td>
                        <select name="provincia" class="form-control" id="provincia"  ng-options="item.nombre for item in provincias"
                        ng-model="coche.provincia" placeholder="Provincia" ng-change="resetValues()" ng-disabled="coche.pais.sISOCode!='ES'">
                            <option value="">Seleccione una provincia</option>
                        </select>
                        <span class="text-danger" ng-show="AlertMessage" ng-model="coche.prov_error">{{coche.prov_error}}</span>
                      </td>
                    </tr>
        
                    <tr>
                    <td>City: </td>
                      <td>
                        <select type="text" class="form-control" name="poblacion" ng-model="coche.poblacion" ng-options="item.poblacion for item in poblaciones"
                        placeholder="Poblacion" id="poblacion" ng-disabled="coche.pais.sISOCode!='ES'">
                            <option value="">Seleccione una ciudad</option>
                        </select>
                        <span class="text-danger" ng-show="AlertMessage" ng-model="coche.pob_error">{{coche.pob_error}}</span>
                      </td>
                    </tr>
                    <br/>

                    <div>
                      <td>
                        <button required id="dropzone" dropzone="dropzoneConfig" class="dropzone"></button>
                      </td>
                    </div>
        
                    <div class="log-btn">
                      <button ng-click="createCar()"><i class="fa fa-check-square"></i>Registrar Coche</button>
                      <!-- <button name="createCar" id="createCar" ng-show="create_car.matricula.$valid && create_car.rmail.$valid && create_car.rpasswd.$valid && create_car.repPassword.$valid"
                      ng-click="createCar()"><i class="fa fa-check-square"></i>Sign Up</button> -->
                    </div>
                </form>
              </div>
            </div> 
          </div>
        </div>
      </div>
    </div>
    <div ng-show="isSet(2)">
      <div id="shop_cars">
          <div class="car-details-info">
              <div class="technical-info">
                  <div class="row">
                      <div class="col-lg-6">
                          <div class="tech-info-table">
                              <table class="table table-bordered">
                                  <tr>
                                    <th>Matricula</th>
                                    <th>Marca</th>
                                    <th>Modelo</th>
                                  </tr>
                                  <tr>
                                    <td>{{create.matricula}}</td>
                                    <td>{{create.marca}}</td>
                                    <td>{{create.modelo}}</td>
                                    <td><button ng-click="createCar()"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Editar</button></td>
                                  </tr>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>
