<section id="lgoin-page-wrap" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-8 m-auto">
                <div class="login-page-content">
                    <div class="login-form">
                        <h3>SIGN IN</h3>
                        <form autocomplete="on" method="post" name="formCP" id="formCP">
                            <div class="rpasswd">
                                <input type="text" id="rpasswd" name="rpasswd" ng-model="login.rpasswd" placeholder="Nueva Contraseña" ng-minlength="3" ng-maxlength="15">
                                <span class="text-danger" ng-show="formCP.rpasswd.$error.required && (formCP.rpasswd.$dirty || formCP.rpasswd.$touched)">Introduzca un nombre</span>
                                <span class="text-danger" ng-show="formCP.rpasswd.$error.minlength">Introduzca mas de 3 caracteres</span>
                                <span class="text-danger" ng-show="formCP.rpasswd.$error.maxlength">Introduzca menos de 20 caracteres</span>
                            </div>
                            <div class="repPassword">
                                <input type="password" id="repPassword" name="repPassword" ng-model="login.repPassword" placeholder="Repita Contraseña" ng-minlength="6" ng-maxlength="40">
                                <span class="text-danger" ng-show="formCP.repPassword.$error.required && (formCP.repPassword.$dirty || formCP.repPassword.$touched)">Introduzca un contraseña</span>
                                <span class="text-danger" ng-show="formCP.repPassword.$error.minlength">Introduzca mas de 6 caracteres</span>
                                <span class="text-danger" ng-show="formCP.repPassword.$error.maxlength">Introduzca menos de 40 caracteres</span>
                            </div>
                            <div class="log-btn">
                                <button name="login2" id="login2" ng-show="formCP.rpasswd.$valid && formCP.repPassword.$valid"
                                    ng-click="submitLogin()"><i class="fa fa-sign-in"></i> Log In</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>