<section id="lgoin-page-wrap" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-8 m-auto">
                <div class="login-page-content">
                    <div class="login-form">
                        <h3>SIGN IN</h3>
                        <form autocomplete="on" method="post" name="formCP" id="formCP">
                            <div class="rpasswd">
                                <input required type="password" name="rpasswd" id="rpasswd" ng-model="recpass.rpasswd" placeholder="Contraseña" ng-minlength="6" ng-maxlength="40"/>
                                <span class="text-danger" ng-show="formCP.rpasswd.$error.required && (formCP.rpasswd.$dirty || formCP.rpasswd.$touched)">Introduzca un contraseña</span>
                                <span class="text-danger" ng-show="formCP.rpasswd.$error.minlength">Introduzca mas de 6 caracteres</span>
                                <span class="text-danger" ng-show="formCP.rpasswd.$error.maxlength">Introduzca menos de 40 caracteres</span>
                            </div>
                            <div class="repPassword">
                                <input required type="password" name="inputRPassword" id="inputRPassword" ng-model="recpass.inputRPassword" placeholder="Repetir contraseña" ng-minlength="6" ng-maxlength="40"/>
                                <span class="text-danger" ng-show="formCP.inputRPassword.$error.required && (formCP.inputRPassword.$dirty || formCP.inputRPassword.$touched)">Introduzca un contraseña</span>
                                <span class="text-danger" ng-show="formCP.inputRPassword.$error.minlength">Introduzca mas de 6 caracteres</span>
                                <span class="text-danger" ng-show="formCP.inputRPassword.$error.maxlength">Introduzca menos de 40 caracteres</span>
                                <span class="text-danger" ng-show="recpass.inputRPassword != recpass.rpasswd && (formCP.inputRPassword.$dirty || formCP.inputRPassword.$touched)">Las contraseñas no coinciden</span>
                            </div>
                            <div class="log-btn">
                                <button class="btn btn-primary" type="submit" id="sendRegister" name="sendRegister"
                                ng-show="formCP.rpasswd.$valid && formCP.inputRPassword.$valid && recpass.inputRPassword === recpass.rpasswd"
                                ng-click="submitRecPass()">Cambiar contraseña</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>