



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/min/dropzone.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/dropzone.css">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<nav>
    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
        <a ng-class="{ active: isSet(1) }" href ng-click="setTab(1)" class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" role="tab" aria-controls="nav-profile" aria-selected="true">Profile</a>
        <a ng-class="{ active: isSet(2) }" href ng-click="setTab(2)" class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" role="tab" aria-controls="nav-contact" aria-selected="false">Like</a>
        <a ng-class="{ active: isSet(3) }" href ng-click="setTab(3)" class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" role="tab" aria-controls="nav-about" aria-selected="false">Compras</a>
    </div>
</nav>

<div class="jumbotron">
  <div ng-show="isSet(1)">
      <div class="container">
          <div class="row">
            <div class="col-xs-12 ">
              <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                  <form autocomplete="on" method="post" name="profile" id="profile">
        
                    <div id="content_profile_img">
                        <div id='img_profile'>
                            <img ng-src='{{userInfo.avatar}}'  value='{{userInfo.user}}'>
                        </div>
                    </div>
                    
                    <br>
        
                    <div class="mail">
                        <td>
                          <input type='text' value='{{userInfo.email}}' readonly=''/>
                        </td>
                    </div>
                    <br/>
        
                    <div class="username">
                      <td>
                        <input type='text' value='{{userInfo.user}}' readonly=''/>
                      </td>
                    </div>
                    <br/>
        
                    <div class="nombre">
                        <td>
                          <input required type="text" name="nombre" id="nombre" ng-model="userInfo.nombre" placeholder="Nombre" ng-minlength="3" ng-maxlength="20"/>
                          <span class="text-danger" ng-show="profile.nombre.$error.required && (profile.nombre.$dirty || profile.nombre.$touched)">Introduzca un Nombre</span>
                          <span class="text-danger" ng-show="profile.nombre.$error.minlength">Introduzca mas de 3 caracteres</span>
                          <span class="text-danger" ng-show="profile.nombre.$error.maxlength">Introduzca menos de 20 caracteres</span>
                        </td>
                    </div>
                    <br/>
        
                    <div class="apellido">
                        <td>
                          <input required type="text" name="apellido" id="apellido" ng-model="userInfo.apellido" placeholder="apellido" ng-minlength="3" ng-maxlength="20"/>
                          <span class="text-danger" ng-show="profile.apellido.$error.required && (profile.apellido.$dirty || profile.apellido.$touched)">Introduzca un apellido</span>
                          <span class="text-danger" ng-show="profile.apellido.$error.minlength">Introduzca mas de 3 caracteres</span>
                          <span class="text-danger" ng-show="profile.apellido.$error.maxlength">Introduzca menos de 20 caracteres</span>
                        </td>
                    </div>
                    <br/>
        
                    <!-- <div>
                      <tr>
                        <td>
                          <input required type="text" name="fnac" id="fnac" ng-model="userInfo.fnac" datepicker="" placeholder="Fecha de nacimiento"/>
                        </td>
                      </tr>
                    </div> -->
        
                    <br/>
                    <tr>
                    <td>Country: </td>
                      <td>
                        <select name="pais" class="form-control" ng-model="login.pais" ng-options="item.sName for item in paises" 
                        placeholder="Pais" id="pais" ng-change="resetPais()">
                          <option value="">Seleccione un pais</option>
                        </select>
                        <span class="text-danger" ng-show="AlertMessage" ng-model="login.pais_error">{{login.pais_error}}</span>
                      </td>
                    </tr>
        
                    <tr>
                    <td>Province: </td>
                      <td>
                        <select name="provincia" class="form-control" id="provincia"  ng-options="item.nombre for item in provincias"
                        ng-model="login.provincia" placeholder="Provincia" ng-change="resetValues()" ng-disabled="login.pais.sISOCode!='ES'">
                            <option value="">Seleccione una provincia</option>
                        </select>
                        <span class="text-danger" ng-show="AlertMessage" ng-model="login.prov_error">{{login.prov_error}}</span>
                      </td>
                    </tr>
        
                    <tr>
                    <td>City: </td>
                      <td>
                        <select type="text" class="form-control" name="poblacion" ng-model="login.poblacion" ng-options="item.poblacion for item in poblaciones"
                        placeholder="Poblacion" id="poblacion" ng-disabled="login.pais.sISOCode!='ES'">
                            <option value="">Seleccione una ciudad</option>
                        </select>
                        <span class="text-danger" ng-show="AlertMessage" ng-model="login.pob_error">{{login.pob_error}}</span>
                      </td>
                    </tr>
                    <br/>
        
                    <div>
                      <td>
                        <button required id="dropzone" dropzone="dropzoneConfig" class="dropzone"></button>
                      </td>
                    </div>
        
                    <button class="btn btn-primary" type="button" ng-click="showLike()">Guardar Cambios</button>
        
                    <div class="log-btn">
                      <button ng-click="sendPro(userInfo.user)"><i class="fa fa-check-square"></i>Sign Up</button>
                    </div>
        
                    <div class="log-btnleft">
                      <button ng-click="logoutB()"><i class="fa fa-times-circle"></i>Cerrar sesion</button>
                    </div>
                  </form>
        
                </div>
        
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                  Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
                </div>
                <div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                  Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
                </div>
              </div> 
            </div>
          </div>
        </div>
  </div>
  <div ng-show="isSet(2)">
      <div id="shop_cars">
          <div class="row popular-car-gird">
              <div ng-repeat="data in infoCar" id="columna">
                  <div class="single-popular-car">
                      <div class="p-car-thumbnails">
                          <a class="car-hover">
                              <img ng-src="http://localhost/www/FW_PHP_OO_ANGULAR/cardoor/frontend/{{data.imagen}}">
                          </a>
                      </div>
                      <div class="p-car-content">
                          <h3>
                              <a>{{data.marca}} {{data.modelo}}</a>
                              <span class="price"><i class="fa fa-tag"></i>{{data.precio}}</span>
                          </h3>
                          <div class="p-car-feature">
                              <a>{{data.caballos}} CV</a>
                              <a>{{data.matricula}}</a>
                              <a>{{data.tipo}}</a>
                              <a><i ng-click="likeCar(data.user)" class="fa fa-heart"></i>
                              <a id="+list.id" class="btn-details"><i class="fa fa-plus"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div ng-show="isSet(3)">
    <h1>Compras</h1>
  </div>
</div>

 