<section id="car-list-area" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div ng-repeat="data in data | filter:filtro">
                    <div class="car-details-content">
                        <h2>{{data.marca}}<span class="price">Price: <b>{{data.precio}}</b></span></h2>
                        <div class="car-preview-crousel">
                            <div class="single-car-preview">
                                <img ng-src="http://localhost/www/FW_PHP_OO_ANGULAR/cardoor/frontend/{{data.imagen}}">
                            </div>
                            <div class="single-car-preview">
                                <img ng-src="http://localhost/www/FW_PHP_OO_ANGULAR/cardoor/frontend/{{data.imagen}}">
                            </div>
                            <div class="single-car-preview">
                                <img ng-src="http://localhost/www/FW_PHP_OO_ANGULAR/cardoor/frontend/{{data.imagen}}">
                            </div>
                        </div>
                        <div class="car-details-info">
                            <h4>Additional Info</h4>
                            <p>The Aventador LPER 720-4 50° ise a limited a new specific engine calibration,plitter.</p>
                            <div class="technical-info">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="tech-info-table">
                                            <table class="table table-bordered">
                                                <tr>
                                                    <th>Maker</th>
                                                    <td>{{data.fabricante}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Fuel</th>
                                                    <td>{{data.combus}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Doors</th>
                                                    <td>{{data.puertas}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Date fabric</th>
                                                    <td>{{data.date_fabric}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="tech-info-list">
                                            <ul>
                                                <li>{{data.extra}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>